<h3>Admin page!</h3>

<div class="row">
  <a class="col s12 card-panel" href="/admin/foods">
    <h3>Menu Items</h3>
  </a>
</div>

<div class="row">
  <a class="col s12 card-panel" href="/admin/servers">
    <h3>Servers</h3>
  </a>
</div>

<div class="row">
  <a class="col s12 card-panel" href="/">
    <h3>Log Out</h3>
  </a>
</div>
