<h3>Admin page!</h3>



<div class="row">
  <a class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 card-panel hoverable" href="/admin/foods">
    <h4>Menu Items</h4>
  </a>
</div>
<div class="row">
  <a class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 card-panel hoverable" href="/admin/categories">
    <h4>Food Categories</h4>
  </a>
</div>
<div class="row">
  <a class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 card-panel hoverable" href="/admin/servers">
    <h4>Servers</h4>
  </a>
</div>
<div class="row">
  <a class="col s8 offset-s2 m6 offset-m3 l6 offset-l3 card-panel hoverable" href="/">
    <h4>Log Out</h4>
  </a>
</div>
