<h2>Add a New Menu Item</h2>

<form class="" action="/admin/foods/" method="post">
  <input type="text" name="menu_item[name]" placeholder="Item Name?">
  <input type="text" name="menu_item[description]" placeholder="Description?">
  <input type="text" name="menu_item[cost]" placeholder="Cost">
  <input type="submit" value="Add To Menu!">
</form>
