<h3>Add a New Party</h3>

<div class="row">
<form class="" action="/" method="post">
  <select class="col s6 offset-s3" name="party[server_id]">
    <option value="" disabled selection selected="selected">Server?</option>
    <% @servers.each do |server| %>
      <option value="<%= server.id %>"><%= server.name %></option>
    <% end %>
  </select>
</div>
<div class="row">
  <select class="col s6 offset-s3" name="party[num_of_customers]">
    <option value="" disabled selection selected="selected">Number of Customers?</option>
    <% counter = 1 %>
    <% while counter < 10 %>
      <option value="<%= counter %>"><%= counter %></option>
      <% counter += 1 %>
    <% end %>
  </select>
</div>
<div class="row">
  <input type="hidden" name="party[tab]" value="0">
  <input type="hidden" name="party[has_paid]" value="false">
  <div class="row">
  <input class="col s4 offset-s4" type="submit" value="Add Party">
</div>
</form>
