<h1>RESTaurant</h1>

<div class="row">
  <a class="col s12 card-panel" href="/parties">
    <h3>Tables</h3>
  </a>
</div>

<div class="row">
  <a class="col s12 card-panel" href="/parties/new">
    <h3>Add a Table</h3>
  </a>
</div>
