<h3>Servers</h3>

<div class="row">
  <form class="" action="/admin" method="get">
    <input class="col s6 m2 l2 offset-s3 offset-m3 offset-l3" type="submit" value="Back to Admin">
  </form>
  <form class="" action="/admin/servers/new" method="get">
    <input class="col s6 m2 l2 offset-s3 offset-m2 offset-l2" type="submit" value="Add a Server">
  </form>
</div>

<div class="row">
  <% counter = 0 %>
  <% @servers.each do |server| %>

    <a class="col s8 m4 l4 offset-s2 card-panel hoverable" href="/admin/servers/<%= server.id %>/edit">
      <h5><%= server.name %></h5>
    </a>
    <% counter += 4 %>
    <% if counter % 12 === 0 %>
      </div><div class="row">
    <%end %>
  <% end %>
</div>
