<h2>Register a New Server</h2>


<div class="row">

  <form class="" action="/admin/servers/" method="post">
    <input class="col s8 offset-s2 m6 offset-m3 l4 offset-l4 center-align" type="text" name="server[name]" placeholder="Name?">
    <input class="col s6 offset-s3 m4 offset-m4 l2 offset-l5" type="submit" value="Register!">
  </form>
</div>
